In [1]:
import pandas as pd

data_open = pd.read_csv('stock_data_open.csv')
data_close = pd.read_csv('stock_data_close.csv')
data_low = pd.read_csv('stock_data_low.csv')
data_high = pd.read_csv('stock_data_high.csv')
data_volume = pd.read_csv('stock_data_volume.csv')

In [10]:
data = pd.merge(data_open, data_close, left_on = ['index', 'Company'], right_on = ['index', 'Company']) #merging data

In [12]:
data = pd.merge(data, data_low, left_on = ['index', 'Company'], right_on = ['index', 'Company'])

In [14]:
data = pd.merge(data, data_high, left_on = ['index', 'Company'], right_on = ['index', 'Company'])
data = pd.merge(data, data_volume, left_on = ['index', 'Company'], right_on = ['index', 'Company'])

In [16]:
data = data[['index', 'Company' , 'Price' , 'Adj Close' , 'low Price' , 'High Price' , 'Volume']] #filtering

In [17]:
data

          index Company    Price  Adj Close  low Price  High Price     Volume
0    2020-12-11    AAPL  122.410    122.410   120.5500      122.76   86939786
1    2020-12-10    AAPL  123.240    123.240   120.1500      123.87   81312170
2    2020-12-09    AAPL  121.780    121.780   121.0000      125.95  115089193
3    2020-12-08    AAPL  124.380    124.380   123.0900      124.98   82225512
4    2020-12-07    AAPL  123.750    123.750   122.2500      124.57   86711990
..          ...     ...      ...        ...        ...         ...        ...
395  2020-07-29    TSLA  299.822    299.822  1487.0000     1534.81    9426893
396  2020-07-28    TSLA  295.298    295.298  1474.4200     1564.70   15808700
397  2020-07-27    TSLA  307.920    307.920  1413.0003     1547.94   16048669
398  2020-07-24    TSLA  283.400    283.400  1366.5401     1465.00   19396616
399  2020-07-23    TSLA  302.614    302.614  1480.7700     1689.00   24328504

[400 rows x 7 columns]

In [18]:
def return_inv(col):
    
    return ((col-col.shift(-1))/col.shift(-1)) * 100 #stock return calculation in %

index          object
Company        object
Price         float64
Adj Close     float64
low Price     float64
High Price    float64
Volume          int64
dtype: object

In [22]:
data[['returns']] = data[['Adj Close']].apply(return_inv)

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [24]:
data.to_csv('final_data.csv')