In [1]:
import pandas as pd

In [2]:
# https://medium.com/python-data/how-to-scrape-information-of-s-p-500-listed-companies-with-python-8205f895ee7a

In [3]:
data = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')

In [4]:
table = data[0]
table.head()

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",1976-08-09,66740,1902
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
2,ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
3,ABMD,ABIOMED Inc,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
4,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989

In [11]:
# the rest of the code is not needed, 
# but in theory this is the way getting rid of the header before extracting the symbols to a lost


# sliced_table = table[1:]
# header = table.iloc[0]

In [12]:
# actually we don|t need to correct the header, but the code is here just in case

# corrected_table = sliced_table.rename(columns=header)
# corrected_table

In [13]:
# tickers = corrected_table['Ticker symbol'].tolist()
# print (tickers)